.lead {
    margin: 1rem;
    font-size: 40px;
    font-weight: 600;
}

form {
    margin-left: 1rem;
}

#todo-input {
    width: 34%;
    margin-left: 1rem;
}



li {
    width: 30%;
    list-style-type: none;
    margin: .5rem;
}

.todoli {
    padding: 1rem;
}

label {
    margin-left: .5rem;
}

